.expense-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin: 16px 0;
    background-color: rgb(18, 207, 179);
}

.expense-item__description {
    display:flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-end;
    flex-flow: column-reverse;
    justify-content: flex-start;
    flex: 1;
}

.expense-item h2 {
    color: white;
    font-size: 16px;
    flex: 1;
    margin: 0 16px;
}

.expense-item__price {
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #403d41;
    border: 1px solid white;
    padding: 8px;
    border-radius: 12px;
}

@media (min-width: 580px) {
    .expense-item__description {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex: 1;
    }
  
    .expense-item__description h2 {
      font-size: 20px;
    }
  
    .expense-item__price {
      font-size: 20px;
      padding: 8px 24px;
    }
  }